@page
@model Server.Pages.aside_invitationsModel
@{
}
<aside class="flex-column aside-container-msg">
    <header class="flex-align-center aside-contact-head">
        <img class="aside-contact-head-img" src="https://cdn4.iconfinder.com/data/icons/users-114/24/user_login-512.png"
             alt="">
        <div class="aside-contact-name">Lời mời kết bạn</div>
    </header>

    <!-- list add friends go here  -->
    <div class="contact">
        <div class="flex-align-center contact-list-title">
            <span>Lời mời đã nhận</span>
             @if (Model.allInvitation != null)
             {
                 <span>&nbsp;(@Model.allInvitation.Count)</span>
             } 
             else
             {
                 <span>&nbsp;(0)</span>
             }
        </div>

        <div class="flex contact-invitation-list">
            @if (Model.allInvitation != null)
            {
                @foreach (var invite in Model.allInvitation)
                {
                    <div class="flex-column invitation-item">
                        <div class="flex-align-center invitation-user">
                            <button>
                                <img class="avatar-img" src="@invite.Avatar" alt="">
                            </button>
                            <div class="flex-column invitation-info">
                                <span class="invitation-name">@invite.Username</span>
                                <span class="invitation-time">@invite.UpdateAt - Từ số điện thoại</span>
                            </div>
                        </div>
                        <div class="flex-justify-between invitation-action">
                            <form method="post" asp-page-handler="DeleteInvitation">
                                <input type="hidden" name="UserId" value="@invite.UserId" />
                                <button class="btn small btn-neutral">Từ chối</button>
                            </form>
                            <form method="post" asp-page-handler="AcceptInvitation">
                                <input type="hidden" name="UserId" value="@invite.UserId" />
                                <button class="btn small btn-secondary">Đồng ý</button>
                            </form>
                            
                        </div>
                        <button class="invitation-chat">
                            <i class="fa-regular fa-comments"></i>
                        </button>
                    </div>
                }
            }
        </div>

        <div class="flex-align-center contact-list-title">
            <span>Lời mời đã gửi</span>
            @if(Model.sentInvitation != null)
            {
                <span>&nbsp;(@Model.sentInvitation.Count)</span>

            }
            else
            {
                <span>&nbsp;(0)</span>
            }
        </div>
        <div class="flex contact-invitation-list">
            @if(Model.sentInvitation != null)
            {
                @foreach (var request in Model.sentInvitation)
                {
                    <div class="flex-column invitation-item">
                        <div class="flex-align-center invitation-user">
                            <button>
                                <img class="avatar-img" src="@request.Avatar" alt="">
                            </button>
                            <div class="flex-column invitation-info">
                                <span class="invitation-name">@request.Username</span>
                                <span class="invitation-time">@request.CreateAt - Bạn đã gửi lời mời</span>
                            </div>
                        </div>
                        <div class="flex-justify-between invitation-action">
                            <form method="post" asp-page-handler="Invoke">
                                <input type="hidden" name="Id" value="@request.UserId">
                                <button type="submit" class="btn large btn-neutral">Thu hồi lời mời</button>
                            </form>
                        </div>
                        <button class="invitation-chat">
                            <i class="fa-regular fa-comments"></i>
                        </button>
                    </div>
                }
            }
        </div>

    </div>
</aside>